---
apiVersion: armada.airshipit.org/v1alpha1
kind: ArmadaChart
metadata:
  layeringDefinition:
    abstract: false
    actions:
    - method: merge
      path: .
    layer: site
    parentSelector:
      name: ucp-ceph-client
  name: ucp-ceph-client
spec:
  values:
    conf:
      pool:
        target:
          osd: 8
