---
apiVersion: armada.airshipit.org/v1alpha1
kind: ArmadaChart
metadata:
  layeringDefinition:
    abstract: false
    actions:
    - method: merge
      path: .
    layer: site
    parentSelector:
      name: tenant-ceph-client-type
  name: tenant-ceph-client
  namespace: osh
  replacement: true
spec:
  values:
    conf:
      pool:
        target:
          osd: 1
