---
apiVersion: armada.airshipit.org/v1alpha1
kind: ArmadaChart
metadata:
  layeringDefinition:
    abstract: false
    actions:
    - method: merge
      path: .
    layer: site
    parentSelector:
      name: ucp-promenade
  name: ucp-promenade
  namespace: boggus
spec:
  values:
    pod:
      env:
        promenade_api: []
