---
apiVersion: armada.airshipit.org/v1alpha1
kind: ArmadaChart
metadata:
  layeringDefinition:
    abstract: false
    actions:
    - method: merge
      path: .
    layer: site
    parentSelector:
      hosttype: fluent-logging-global
  name: fluent-logging
spec: {}
